<h1 id="index-title"> About Metrix </h1>
  <h3 id="index-subtitle"> Metrix is an analytics service app that tracks events on websites </h3>
  <h5 id="index-subtitle">This app was developed as part of a curiculum. However, it is functional and you can use
  it to track information about your website. </h5>
