// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#index-subtitle{
  color:#3399FF;
  text-align:center;
}

#index-title{
  text-align:center;
  color: #FF3366;
  font-size:90px;
}

button{
  width:250px;
  height:50px;
  color:#CC3366;
}

.row{
  margin-top:50px;
}

.splash {
  background-color: yellow;
}
